$Img: url(../../src/Img/free-icon-font-paper-plane-3917398.png);
$primary-color: #000;
//1280×1024 1440×900 1400×1050 1536×960 1536×1024
$h_1:100px;
$h_2:200px;
$h_3:300px;
$h_4:400px;


@media (max-width: 1280px) and (max-height: 1024px)
{
}
@media (max-width: 1440px) and (max-height: 900px)
{
}
@media (max-width: 1440px) and (max-height: 1050px)
{
}
@media (max-width: 1536px) and (max-height: 960px)
{
}

@media (max-width: 1600px) and (max-height: 900px)
{
}

@media (max-width: 1600px) and (max-height: 1000px)
{
}

@media (max-width: 1920px) and (max-height: 1080px)
{

.input_sms
{
  width:$h_4 + $h_3;
  margin-top:510px;
  padding-left: 0;
  text-align: left;
  height: 25px;
  text-color: $primary-color;
  position: relative;
}


.button_sms
{
  width: $h_1+$h_1;
  height: 60px;
  margin-left: 10px;
  top:5px;
  background-color:$Img;
  background-size: 32px 32px;
  position: relative;
  border-radius: 5px;
}

.hr_chat
{
  top:480px;
  position: relative;
}

.New_Name
{
  margin-left: 1100px;
  position: relative;
}



  .input_new_name
  {
    margin-left: 1195px;
  }

   .New_Name,
  .input_new_name,
.button_new_name
{
  position: relative;
  top:-65px  ;

}

.input_color_name,
{
  position: relative;
  margin-left: 1100px;
  top: -65px;
}

  .button_color_name
  {
    position: relative;
    margin-left: 1350px;
    top: -86px;
  }

.New_Color
{
  position: relative;
  margin-left: 1100px;
  top: -60px;
}


}

@media (max-width: 1920px) and (max-height: 1200px)
{
}


